<h1>New resource_history</h1>

<% @resource_history[:identity_id] = params[:identity_id] %>
<% @resource_history[:data] = '{"de_DE"=>"", "en_US"=>""}' %>
<% @resource_history[:localized_description] = '{"type"=>"", "round"=>"", "round_name"=>""}' %>

<%= render 'form' %>

<%= link_to 'Back', resource_histories_path %>
