<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= I18n.t('mailing.password_token.subject') %></h1>
    <p>You want to request a new password for wack-a-doo.de. Click on the following link for receiving the new password:</p>
    <p><a href="<%= @password_token_url %>"><%= @password_token_url %></a></p>
  </body>
</html>
