<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= I18n.t('mailing.password.subject') %></h1>
    <p>Dein neues Passwort für wack-a-doo.de lautet:</p>
    <p><%= @password %></p>
    <p>Du kannst Dich wie gewohnt zusammen mit deiner E-Mailadresse oder Deinem Loginnamen einloggen.</p>
    <p>Im Spiel kannst Du Dein Passwort im Profil wieder ändern.</p><br/>
    <p>Viel Spass und whack on!</p>
    <p>Das Wack-A-Doo Team</p>
  </body>
</html>
