<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= I18n.t('mailing.password_token.subject') %></h1>
    <p>Du möchtest Dir für wack-a-doo.de ein neues Passwort anfordern.</p> 
    <p>Klicke auf den folgenden Link, um Dir das neue Passwort zusenden zu lassen:</p>
    <p><a href="<%= @password_token_url %>"><%= @password_token_url %></a></p><br/>
    <p>Whack on!</p>
    <p>Das Wack-A-Doo Team</p>
  </body>
</html>
