<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= I18n.t('mailing.password.subject') %></h1>
    <p>Dein neues Passwort für wack-a-doo.de lautet:</p>
    <p><%= @password %></p>
    <p>Damit kannst du dich wie gewohnt zusammen mit deiner E-Mailadresse oder deinem Loginname einloggen.</p>
    <p>Im Spiel kannst du das Passwort im Profil wieder ändern.</p>
  </body>
</html>
