<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Password Token</h1>
    <p>Link: <a href="<%= @password_token_url %>"><%= @password_token_url %></a></p>
  </body>
</html>
