<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= I18n.t('mailing.password_token.subject') %></h1>
    <p>Your new password for wack-a-doo.de:</p>
    <p><%= @password %></a></p>
    <p>You can login with it and your current mail address or nick name as usual.</p>
  </body>
</html>
