<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Willkommen bei Wackadoo, <%= @identity.address_informal %></h1>
    <p>
      You have successfully signed up to wackadoo.de,
      with the following email address: <%= @identity.email %>.<br/>
    </p>
    <p>
      Please validate your email address clicking the following link:
      <a href="<%= @validation_url %>"><%= @validation_url %></a>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>