<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Willkommen bei Wack-a-doo, <%= @identity.address_informal %></h1>
    <p>
      Du hast Dich erfolgreich mit folgender Emailadresse bei 
      wack-a-doo.de angemeldet:  <%= @identity.email %>.<br/>
    </p>
    <p>
Du kannst Dich bereits jetzt mit dieser Emailadresse im 
Portal einloggen und spielen. Bitte sei so nett und 
bestätige Deine Emailadresse und Identität innerhalb
der nächsten 72 Stunden durch einen Klick auf folgenden
Link: <a href="<%= @validation_url %>"><%= @validation_url %></a>
    </p>
    <p> Im Moment befindet sich Wack-A-Doo noch in der Entwicklungsphase.
        Wack-A-Doo ist zwar vollständig spielbar, enthält aber nur einen 
        Bruchteil der geplanten Funktionen und Spielinhalte. Wir werden in
        der laufenden offenen Testrunde weitere Neuheiten einbauen und 
        hoffen, dass Du auch mögliche Fehler verzeihst. Wir freuen uns 
        über jede Rückmeldung im Forum oder per Email und bitten um Dein 
        Verständnis, falls etwas nicht so funktioniert wie geplant.</p>
    <p>Vielen Dank für Deine Registrierung, hab' viel Spaß!</p>
  </body>
</html>
