<div class="container">
  
  <% @identities.sort! { |a,b| a.name.downcase <=> b.name.downcase }.each do |identity| %>

    <div class="round identity-badge">
      <%= gravatar_for identity, 'gravatar-float', :size => 30 %>
      <%= identity.id %>: <br />
      <%= link_to "#{identity.name}", identity %>
    </div>

  <% end %>

</div>  
