<%= will_paginate %>


<table class="log_entries">
  <tr>
    <th>Timestamp</th>
    <th>Event-Type</th>
    <th>Description</th>
    <th>Table</th>
    <th>Row-ID</th>
    <th>Identity-ID</th>
    <th>Role</th>
  </tr>
  <%= render @log_entries %>
</table>

