/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

html {
  height: 100%;
}

body {
  background-image: url("/assets/background.jpg");
  padding: 0px;
  margin: 0px;
  min-height: 100%;
  height: 100%;
}

header.site-header {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px;
  border-color: #AAA;
  border-style: solid;
  
  padding: 6px 60px 6px 60px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #FFF), color-stop(1.0, #DDD));
}

.wrapper {
  width: 100%;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -200px;
}

.push {
  height: 200px;
}

footer.site-footer {
  height: 188px;
  border-top: 1px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
  border-color: #AAA;
  border-style: solid;
  
  padding: 6px 60px 6px 60px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #DDD), color-stop(1.0, #FFF));
}

section.content {
  padding: 6px 60px 6px 60px;
}

.site-name {
  font-size: 24pt;
}

nav.site-navigation {
  float: right;
}


