// Place all the styles related to the identities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


div.panel {
  float: left;
  min-height: 490px;
  width: 590px;
  border-radius: 20px;
  border: #777 12px solid;
}


div.panel-wrapper {
  color: #777;
  width: 760px;
  min-height: 600px;
}

div.panel-heading {
  font-size: 32pt;
  padding: 6px 16px;
}

div.panel div.actions {
  padding-bottom: 20px;
}

img#gravatar-image {
  float: right;
  width: 120px;
  height: 120px;
  margin-right: 5px;
  border-width: 1px;
  broder-color: #333;
  border-style: solid;
  padding: 2px;
  background-color: #FFF;
  display: none;
}


a {
  color: #333;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.round {
  border-radius: 8px;
  -moz-border-radius: 8px;
}


div.profile {
  padding: 1px 20px  20px;
  
  border-radius: 6px;

  min-width: 600px;
  min-height: 300px;
}

div.profile-info {
  margin-left:140px;
}

div.profile-button-bar {
  padding-top: 20px;
}

.gravatar-float {
  float: left;
  width: 30px;
  height: 30px;
  margin-right: 5px;
  border-width: 1px;
  broder-color: #333;
  border-style: solid;
  padding: 2px;
  background-color: #FFF;
}

div.profile .gravatar-float {
  width: 120px;
  height: 120px;
  margin-right: 10px;
  margin-top: 18px;
}

.profile h1 {
  font-size: 36px;
  padding-top: 0px;
  margin-top: 14px;
}






.identity-badge {
  border-width: 4px;
  border-style: solid;
  padding: 5px;
  width: 230px;
  margin: 5px;
  float: left;
}

.identity-badge.role-user {
  border-color: #CE0;
  background-color: #F0FFD0;
}

.identity-badge.role-staff {
  border-color: #0AF;
  background-color: #DDEEFF;
}

.identity-badge.role-admin {
  border-color: #FA0;
  background-color: #FFEEDD;
}

span.id {
  float: right;
  font-size: 10pt;
}

span.name {
  overflow: hidden;
  white-space: nowrap;
}

div.email {
  color: #666;
  font-size: 10pt;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 2px;
}

.container {
  overflow: hidden;
}

